
@model IEnumerable<Cinema.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2 class="alert alert-info">Movies</h2>
@*<div class="form-group">
        @Html.ActionLink("New Movie", "Create", "Movies", htmlAttributes: new { @class = "btn btn-primary" })
    </div>*@
<table id="movies" class="table table-bordered table-striped table-hover table-dark text-center">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Release Date</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.ReleaseDate.ToString("yyyy")</td>
                <td>@movie.Genre.GenreName</td>
            </tr>
        }*@

    </tbody>
</table>
<!-- ----------------------------------------------------------------------------------- -->

@section scripts{
    <script>
        $(document).ready(function () {

            //Before Handling Click Event We Get Refrence for Customers Table And Call DataTable
            //$.fn.dataTable.ext.errMode = 'throw';
            $("#movies").DataTable({
                //To Use API as a source of data We Need => Configuration Object
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                "columns": [
                    //Specify our column and Foreach Column we supply an Object
                    //and in this object we specify properties of this column
                    //We Use Data Property to Tell DataTable where to get data for this column
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return " <a href='/movies/details/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "releaseDate"
                    },
                    {
                        data: "genre.genreName"
                    }
                ]
            });
        });

    </script>
}
