
@model IEnumerable<Cinema.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2 class="alert alert-info text-center">Customers</h2>
@*<div class="form-group">
    @Html.ActionLink("New Customer", "Create", "Customers", null, htmlAttributes: new { @class = "btn btn-primary" })
</div>*@
<table id="customers" class="table table-bordered table-striped table-hover table-dark text-center">
    <thead>
        <tr>
            <th>Customer</th>
            <th>MemberShip Type</th>
            <th>@Html.ActionLink("New Customer", "Create", "Customers", null, htmlAttributes: new { @class = "btn btn-primary" })</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    #<!-- #region Table Body -->
    @*

        @foreach (var customer in Model)
         //{
             <tr>
                 <td>@customer.Name</td>
                 <td>@customer.MemberShipType.Name</td>
                 <td class="btn btn-group-justified ">-->
                 Html.ActionLink("Delete", "Delete", "Customers", htmlAttributes: new { class = "btn btn-link btn-danger text-light m-1 js-delete" }, routeValues: new { id = customer.Id })
                <!--<button data-customer-id="customer.Id" class = "btn btn-link btn-danger text-light m-1 js-delete">Delete</button>
                    ||
                    Html.ActionLink("Edit", "Edit", "Customers", htmlAttributes: new { class = "btn btn-info m-1" }, routeValues: new { id = customer.Id })
                    ||
                    Html.ActionLink("Details", "Details", "Customers", htmlAttributes: new { class = "btn btn-success m-1" }, routeValues: new { id = customer.Id })
                </td>
            </tr>
           }-->
    *@
    <!-- #endregion -->
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            //Before Handling Click Event We Get Refrence for Customers Table And Call DataTable
            var table = $("#customers").DataTable({
                //To Use API as a source of data We Need => Configuration Object
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    //Specify our column and Foreach Column we supply an Object
                    //and in this object we specify properties of this column
                    //We Use Data Property to Tell DataTable where to get data for this column
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return " <a href='/customers/details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "memberShipType.name"
                        //data: "name"
                    },
                    {
                        data: "id",
                        render: function (data, type, customer) {

                            return "<td class='btn btn-group-justified'>" +
                                " <a href='/customers/edit/" + customer.id + "' class='btn-link' >" + "Edit" + "</a>" +
                                "<button class='btn btn-link js-delete' data-customer-id=" + data + ">Delete</button>" +
                                "</td >";
                        }
                    }
                ]
            });

            //JQuery To Get Customers Table and find all elements with this class
            //To Handle On("CLick") Event
            //$("#customers .js-delete").on("click", function () {

            $("#customers").on("click", ".js-delete", function () { //Only One Click Handler For All Delete Buttons
                //Because Handler is Hocked For Selector = "customers" //And in this Handler We Have A Filtter = ".js-delete"
                var button = $(this); //As Refrence for button

                bootbox.confirm("Are You Sure To Delete This Customer ?", function (result) {
                    if (result) {
                        $.ajax({
                            //url: "/api/customers/" + $(this).attr("data-customer-id"),
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                //remove the table raw include customer => this button with Htmlclass: "js-delete"
                                //button.parents("tr").remove();
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

                ////If this confirm function return true calling API Using JQuery Ajax
                //if (confirm("Are you Sure to Delete This Customer ?")) {
                //    //$.Ajax({});
                //}
            });
        });

    </script>
}

